body{
    background: url("../img/whatsapp-wallpaper.png")
}

.container{
    width: 900px;
    margin: auto;
    background: pink;
}

.navigation{
    width: 30%;
    height: 100vh;
    background: white;
    float: left;
}

.messages{
    float: right;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url("../img/message-background.png");
}

.message-body{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-self: flex-end;
    
}

.single-message{
    display: inline-block;
    background: white;
    margin: 2px;
    padding: 4px;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px rgba(240, 250, 252, 0.7);
    margin-right: 8px;
}

.inputs{
    display: flex;
    flex-direction: row;
}

.message-input{
    border:none;
    flex-grow: 1;
    margin: 8px;
    border: 8px solid rgb(255, 235, 255);
    border-radius: 12px;
}

.inputs button{
    align-self: center;
    margin-right: 8px;
}

button{
    background-color: #4CFF9F; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.logo{
    float: left;
}

.login{
    display: flex;
    flex-direction: column;
    float: right;
}

.login button{
    margin-bottom: 3px;
}

.header, .current-message{
    flex-direction: column;
    height: 59px;
    background: #eeeeee;
    box-sizing: border-box;
}

.header{
    height: 59px;
    border-right: 1px lightgray solid;
    padding: 10px 4px;
    box-sizing: border-box;
    position:relative;
}

.group-name{
    position: absolute;
    bottom: 4px;
}

.profile-picture{
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.generic-icon{
    height: 49px;
}

.item-list{
    width: 100%;
    background:white;
    border-bottom: 1px lightgray solid;
    display: flex;
    flex-direction: row;
    height: 72px;
    cursor: pointer;
}

.item-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.generic-icon img{
    height: 100%;
}

.current-message{
    display: flex;
    flex-direction: row;
}