.container{
    width: 900px;
    margin: auto;
    background: pink;
}

.navigation{
    width: 30%;
    height: 100vh;
    background: white;
    float: left;
}

.messages{
    float: right;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #dcf8c6;
}

.message-body{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-self: flex-end;
    
}

.single-message{
    display: inline-block;
    background: white;
    margin: 2px;
    border-radius: 3px;
}

.logo{
    float: left;
}

.login{
    float: right;
}

.header, .current-message{
    flex-direction: column;
    height: 59px;
    background: #eeeeee;
    box-sizing: border-box;
}

.header{
    height: 59px;
    border-right: 1px lightgray solid;
    padding: 10px 4px;
    box-sizing: border-box;
}

.group-name{
    clear: both;
}

.profile-picture{
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.generic-icon{
    height: 49px;
}

.item-list{
    width: 100%;
    background:white;
    border-bottom: 1px lightgray solid;
    display: flex;
    flex-direction: row;
    height: 72px;
    cursor: pointer;
}

.item-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.generic-icon img{
    height: 100%;
}

.current-message{
    display: flex;
    flex-direction: row;
}